<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Juqcc</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jquccOne</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccOneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JuqccUploadServlet</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JuqccUploadServlet</servlet-name>
		<url-pattern>/JuqccUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jquccOne</servlet-name>
		<url-pattern>/jquccOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Juqcc</servlet-name>
		<url-pattern>/juqcc</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
