<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/juqccBlog-servlet.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>juqccBlog</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>juqccBlog</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	

	<servlet>
		<servlet-name>juqccList</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jquccOne</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccOneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>juqccUpload</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>juqccPreUpload</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccPreUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>juqccDelete</servlet-name>
		<servlet-class>org.juqkai.juqcc.JuqccDeleteServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>juqccDelete</servlet-name>
		<url-pattern>/juqccDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>juqccUpload</servlet-name>
		<url-pattern>/juqccUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>juqccPreUpload</servlet-name>
		<url-pattern>/juqccPreUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jquccOne</servlet-name>
		<url-pattern>/jquccOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>juqccList</servlet-name>
		<url-pattern>/juqccList</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>juqccList</welcome-file>
	</welcome-file-list>
</web-app>
